<!-- templates/add_notification.html -->
{% extends "base.html" %}
{% block title %}Добавить уведомление{% endblock %}
{% block dashboard_content %}
<h2 class="border-bottom border-bottom-secondary border-top-0 mb-5 pt-5"><i class="bi bi-bell-fill header-icon"></i> Добавить уведомление</h2>
<form method="POST" action="/notifications/add">
    <div class="mb-3">
        <label for="type" class="form-label">Тип уведомления</label>
        <select class="form-select" id="type" name="type" required>
            <option selected disabled>Выберите тип</option>
            <option value="Info">Информация</option>
            <option value="Warning">Предупреждение</option>
            <option value="Alert">Алерт</option>
            <!-- Добавьте другие типы по необходимости -->
        </select>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Сообщение</label>
        <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
    </div>
    <div class="mb-3">
        <label for="notify_date" class="form-label">Дата уведомления</label>
        <input type="text" class="form-control" id="datetime" name="notify_date" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="is_recurring" name="is_recurring">
        <label class="form-check-label" for="is_recurring"><i class="bi bi-repeat"></i> Повторять уведомление</label>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Добавить</button>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#datetime", {
            enableTime: true,
            dateFormat: "d.m.Y H:i",
            time_24hr: true,
            locale: "ru", 
            minDate: "today",
        });
    });
</script>
{% endblock %}
